<section class="container">
  {{popover-demo/click-triggered}}
</section>

<section class="container">
  {{popover-demo/hover-triggered}}
</section>

<section class="container">
  {{popover-demo/focus-triggered}}
</section>

<section class="container">
  {{popover-demo/plain-or-html}}
</section>

<section class="container">
  {{popover-demo/triggering-methods}}
</section>

<section class="container">
  {{popover-demo/other-popover-options}}
</section>

{{outlet}}