<section class="container">
  <h1>
    ember-cli-bootstrap3-popover
    <img src="http://badge.fury.io/gh/cybertoothca%2Fember-cli-bootstrap3-popover.svg"
         alt="ember-cli-bootstrap3-popover version">
    <img src="http://badge.fury.io/js/ember-cli-bootstrap3-popover.svg" alt="ember-cli-bootstrap3-popover npm"/>
  </h1>

  <h2>Examples</h2>
</section>

<section class="container">
  {{popover-demo/click-triggered}}
  <hr/>
</section>

<section class="container">
  {{popover-demo/hover-triggered}}
  <hr/>
</section>

<section class="container">
  {{popover-demo/focus-triggered}}
  <hr/>
</section>

<section class="container">
  {{popover-demo/plain-or-html}}
  <hr/>
</section>

<section class="container">
  {{popover-demo/triggering-methods}}
  <hr/>
</section>

<section class="container">
  {{popover-demo/other-popover-options}}
  <hr/>
</section>

{{outlet}}
